$size-0: 0px;
$size-0_5: 4px;
$size-1: 8px;
$size-1_5: 12px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;

$header-height: 120px;

@mixin shadow-row() {
  box-shadow: theme.shadow('row');
}

@mixin shadow-block() {
  box-shadow: theme.shadow('block-1'), theme.shadow('block-2'), theme.shadow('block-3');
}

@mixin shadow-lowered-1() {
  box-shadow: theme.shadow('lowered-1_1'), theme.shadow('lowered-1_2'), theme.shadow('lowered-1_3');
}

@mixin shadow-lowered-2() {
  box-shadow: theme.shadow('lowered-2_1'), theme.shadow('lowered-2_2'), theme.shadow('lowered-2_3');
}

@mixin shadow-elevated-1() {
  box-shadow: theme.shadow('elevated-1_1'), theme.shadow('elevated-1_2'),  theme.shadow('elevated-1_3');
}

@mixin shadow-elevated-2() {
  box-shadow: theme.shadow('elevated-2_1'), theme.shadow('elevated-2_2'), theme.shadow('elevated-2_3');
}