$size-0: 0px;
$size-0_5: 4px;
$size-1: 8px;
$size-1_5: 12px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;

$header-height: 120px;

@mixin shadow-row() {
  box-shadow: 0px 0px 24px theme.color('shadow-row');
}

@mixin shadow-block() {
  box-shadow: -10px -10px 30px theme.color('shadow-block-1'),
              20px 20px 60px theme.color('shadow-block-2'),
              inset 1px 1px 10px theme.color('shadow-block-3');
}

@mixin shadow-lowered-1() {
  box-shadow: 1px 1px 5px theme.color('shadow-lowered-1_1'),
              inset -5px -5px 5px theme.color('shadow-lowered-1_2'),
              inset 1px 1px 10px theme.color('shadow-lowered-1_3');
}

@mixin shadow-lowered-2() {
  box-shadow: 1px 1px 5px theme.color('shadow-lowered-2_1'),
              inset -5px -5px 5px theme.color('shadow-lowered-2_2'),
              inset -3px -3px 10px theme.color('shadow-lowered-2_3');
}

@mixin shadow-elevated-1() {
  box-shadow: -5px -5px 10px theme.color('shadow-elevated-1_1'), 
              1px 1px 10px theme.color('shadow-elevated-1_2'), 
              inset 1px 1px 2px theme.color('shadow-elevated-1_3');
}

@mixin shadow-elevated-2() {
  box-shadow: -5px -5px 10px theme.color('shadow-elevated-2_1'), 
              3px 4px 10px theme.color('shadow-elevated-2_2'), 
              inset 1px 1px 2px theme.color('shadow-elevated-2_3');
}