@mixin t-factory($id, $size, $height, $weight: 400, $family: 'Sora') {
  .tpg-#{$id} {
    font: {
      family: Sora;
      size: $size;
      weight: $weight;
    }
    line-height: $height;
    letter-spacing: 0;

    @content;
  }
}

@mixin typography {
  @include t-factory($id: 'd1', $size: 40px, $height: 56px, $weight: 700);
  @include t-factory($id: 'd2', $size: 34px, $height: 48px, $weight: 500);

  @include t-factory($id: 'h1', $size: 29px, $height: 32px);
  @include t-factory($id: 'h2', $size: 21px, $height: 24px);
  @include t-factory($id: 'h3', $size: 15px, $height: 16px);
  @include t-factory($id: 'h4', $size: 13px, $height: 16px, $weight: 700);

  @include t-factory($id: 'ch1', $size: 13px, $height: 16px, $weight: 700) {
    text-transform: uppercase;
  };

  @include t-factory($id: 'p1', $size: 15px, $height: 24px, $weight: 200);

  @include t-factory($id: 's1', $size: 24px, $height: 32px, $weight: 200);
  @include t-factory($id: 's2', $size: 18px, $height: 24px, $weight: 200);
  @include t-factory($id: 's3', $size: 15px, $height: 16px, $weight: 200);
  @include t-factory($id: 's3-mono', $size: 15px, $height: 16px, $weight: 300, $family: 'JetBrainsMono');
  @include t-factory($id: 's4', $size: 13px, $height: 16px);
  @include t-factory($id: 's5', $size: 11px, $height: 16px, $weight: 200);
  @include t-factory($id: 's5-bold', $size: 11px, $height: 16px, $weight: 700);

  @include t-factory($id: 'link1', $size: 15px, $height: 16px, $weight: 200) {
    text-decoration: underline;
  };

  @include t-factory($id: 'link1-mono', $size: 15px, $height: 16px, $weight: 300, $family: 'JetBrainsMono') {
    text-decoration: underline;
  };
};