@mixin t-factory($size, $height, $weight: 400, $family: 'Sora') {
  font: {
    family: Sora;
    size: $size;
    weight: $weight;
  }
  line-height: $height;
  letter-spacing: 0;
}

@mixin tpg-d1() { @include t-factory($size: 40px, $height: 56px, $weight: 700) }

@mixin tpg-d2() {  @include t-factory($size: 34px, $height: 48px, $weight: 500) }

@mixin tpg-h1() {  @include t-factory($size: 29px, $height: 32px) }
@mixin tpg-h2() {  @include t-factory($size: 21px, $height: 24px) }
@mixin tpg-h3() {  @include t-factory($size: 15px, $height: 16px) }
@mixin tpg-h4() {  @include t-factory($size: 13px, $height: 16px, $weight: 700) }

@mixin tpg-ch1() { 
  @include t-factory($size: 13px, $height: 16px, $weight: 700);
  text-transform: uppercase;
}

@mixin tpg-p1() {  @include t-factory($size: 15px, $height: 24px, $weight: 200) }

@mixin tpg-s1() {  @include t-factory($size: 24px, $height: 32px, $weight: 200) }
@mixin tpg-s2() {  @include t-factory($size: 18px, $height: 24px, $weight: 300) }
@mixin tpg-s3() {  @include t-factory($size: 15px, $height: 16px, $weight: 200) }
@mixin tpg-s3-mono() {  @include t-factory($size: 15px, $height: 16px, $weight: 300, $family: 'JetBrainsMono') }
@mixin tpg-s4() {  @include t-factory($size: 13px, $height: 16px) }
@mixin tpg-s5() {  @include t-factory($size: 11px, $height: 16px, $weight: 200) }
@mixin tpg-s5-bold() {  @include t-factory($size: 11px, $height: 16px, $weight: 700) }

@mixin tpg-link1() {  
  @include t-factory($size: 15px, $height: 16px, $weight: 200);
  text-decoration: underline;
}

@mixin tpg-link1-mono() {
  @include t-factory($size: 15px, $height: 16px, $weight: 300, $family: 'JetBrainsMono');
  text-decoration: underline;
};

// Not used yet. But may be useful in the future

// @mixin t-class-factory($id, $size, $height, $weight: 400, $family: 'Sora') {
//   .tpg-#{$id} {
//     @include t-factory($size, $height, $weight, $family);
//     @content;
//   }
// }

// @mixin typography {
//   @include t-class-factory($id: 'd1', $size: 40px, $height: 56px, $weight: 700);
//   @include t-class-factory($id: 'd2', $size: 34px, $height: 48px, $weight: 500);

//   @include t-class-factory($id: 'h1', $size: 29px, $height: 32px);
//   @include t-class-factory($id: 'h2', $size: 21px, $height: 24px);
//   @include t-class-factory($id: 'h3', $size: 15px, $height: 16px);
//   @include t-class-factory($id: 'h4', $size: 13px, $height: 16px, $weight: 700);

//   @include t-class-factory($id: 'ch1', $size: 13px, $height: 16px, $weight: 700) {
//     text-transform: uppercase;
//   };

//   @include t-class-factory($id: 'p1', $size: 15px, $height: 24px, $weight: 200);

//   @include t-class-factory($id: 's1', $size: 24px, $height: 32px, $weight: 200);
//   @include t-class-factory($id: 's2', $size: 18px, $height: 24px, $weight: 200);
//   @include t-class-factory($id: 's3', $size: 15px, $height: 16px, $weight: 200);
//   @include t-class-factory($id: 's3-mono', $size: 15px, $height: 16px, $weight: 300, $family: 'JetBrainsMono');
//   @include t-class-factory($id: 's4', $size: 13px, $height: 16px);
//   @include t-class-factory($id: 's5', $size: 11px, $height: 16px, $weight: 200);
//   @include t-class-factory($id: 's5-bold', $size: 11px, $height: 16px, $weight: 700);

//   @include t-class-factory($id: 'link1', $size: 15px, $height: 16px, $weight: 200) {
//     text-decoration: underline;
//   };

//   @include t-class-factory($id: 'link1-mono', $size: 15px, $height: 16px, $weight: 300, $family: 'JetBrainsMono') {
//     text-decoration: underline;
//   };
// };
