@use '@soramitsu-ui/theme/sass/util';
@use '@soramitsu-ui/theme/sass/lib';

@mixin typography($id) {
  .#{lib.$typography-prefix}#{$id} {
    @content;
  }
}

@mixin typography-classes {
  @include typography('d1') {
    @include util.typography-factory($size: 40px, $height: 56px, $weight: 700);
  }

  @include typography('d2') {
    @include util.typography-factory($size: 34px, $height: 48px);
  }

  @include typography('h1') {
    @include util.typography-factory($size: 29px, $height: 32px);
  }

  @include typography('h2') {
    @include util.typography-factory($size: 21px, $height: 24px);
  }

  @include typography('h3') {
    @include util.typography-factory($size: 15, $height: 16px);
  }

  @include typography('h4') {
    @include util.typography-factory($size: 13px, $height: 16px, $weight: 700);
  }

  @include typography('ch1') {
    @include util.typography-factory($size: 13px, $height: 16px, $weight: 700);
    text-transform: uppercase;
  }

  @include typography('p1') {
    @include util.typography-factory($size: 15px, $height: 24px, $weight: 200);
  }

  @include typography('s1') {
    @include util.typography-factory($size: 24px, $height: 32px, $weight: 200);
  }

  @include typography('s2') {
    @include util.typography-factory($size: 18px, $height: 24px, $weight: 200);
  }

  @include typography('s3') {
    @include util.typography-factory($size: 15px, $height: 16px, $weight: 200);
  }

  @include typography('s3-mono') {
    font: {
      family: JetBrainsMono;
      size: 15px;
      weight: 300;
    }

    line-height: 16px;
    letter-spacing: 0;
  }

  @include typography('s4') {
    @include util.typography-factory($size: 13px, $height: 16px);
  }

  @include typography('s5') {
    @include util.typography-factory($size: 11px, $height: 16px, $weight: 200);
  }

  @include typography('s5-bold') {
    @include util.typography-factory($size: 11px, $height: 16px, $weight: 700);
  }

  @include typography('link1') {
    @include util.typography-factory($size: 15px, $height: 16px, $weight: 200);
    text-decoration: underline;
  }

  @include typography('link1-mono') {
    font: {
      family: JetBrainsMonoa;
      size: 15px;
      weight: 300;
    }

    line-height: 16px;
    letter-spacing: 0;
    text-decoration: underline;
  }
}