$xxl: 1700px;
$xl: 1440px;
$lg: 1200px;
$md: 960px;
$sm: 640px;
$xs: 480px;
$xxs: 320px;

@mixin xxl() {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $md) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin xs() {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin xxs() {
  @media (min-width: $xxs) {
    @content;
  }
}
