$neutral-0: #FFFFFF;
$neutral-5: #FCFCFC;
$neutral-10: #F9F9F9;
$neutral-20: #E9E9E9;
$neutral-30: #CFCFCF;
$neutral-40: #ABABAB;
$neutral-50: #808080;
$neutral-60: #565656;
$neutral-70: #313131;
$neutral-80: #171717;
$neutral-90: #070707;
$neutral-100: #000000;

$primary-0: #FFFFFF;
$primary-5: #FFF6F6;
$primary-10: #FFEDED;
$primary-20: #FFD4D4;
$primary-30: #FFB0B0;
$primary-40: #FA8181;
$primary-50: #EB4E4E;
$primary-60: #D72121;
$primary-70: #BB0000;
$primary-80: #810505;
$primary-90: #410707;
$primary-100: #000000;

$secondary-0: #FFFFFF;
$secondary-5: #F5F2F2;
$secondary-10: #E8E1E1;
$secondary-20: #D7CDCD;
$secondary-30: #C3B3B3;
$secondary-40: #AA9999;
$secondary-50: #9D8181;
$secondary-60: #8A6969;
$secondary-70: #704E4E;
$secondary-80: #4E3333;
$secondary-90: #281818;
$secondary-100: #000000;

$success-0: #FFFFFF;
$success-5: #D3F6EC;
$success-10: #AAECD9;
$success-20: #7FDEC3;
$success-30: #57CCAB;
$success-40: #33B590;
$success-50: #169974;
$success-60: #007755;
$success-70: #17614C;
$success-80: #20453A;
$success-90: #192320;
$success-100: #000000;

$warning-0: #FFFFFF;
$warning-5: #FFF1D2;
$warning-10: #FFE2A4;
$warning-20: #FFBB44;
$warning-30: #FF9900;
$warning-40: #EC8A00;
$warning-50: #D57700;
$warning-60: #B66000;
$warning-70: #914600;
$warning-80: #652C00;
$warning-90: #331400;
$warning-100: #000000;

$error-0: #FFFFFF;
$error-5: #FAF0FF;
$error-10: #F6E0FF;
$error-20: #EAC8FF;
$error-30: #DAAAFD;
$error-40: #C686F3;
$error-50: #AD61E3;
$error-60: #923ECD;
$error-70: #7522B0;
$error-80: #570D8C;
$error-90: #341B47;
$error-100: #000000;

$info-0: #FFFFFF;
$info-5: #E6F3FF;
$info-10: #CDE6FF;
$info-20: #98CAFB;
$info-30: #69AEF3;
$info-40: #4394E6;
$info-50: #267DD4;
$info-60: #1166BB;
$info-70: #054D94;
$info-80: #003367;
$info-90: #001A34;
$info-100: #000000;

$debug-0: #FFFFFF;
$debug-5: #FEE2EB;
$debug-10: #FDC6D8;
$debug-20: #FA8EB2;
$debug-30: #F55D8F;
$debug-40: #ED3572;
$debug-50: #E4165B;
$debug-60: #D70148;
$debug-70: #C70042;
$debug-80: #B3003C;
$debug-90: #9E0035;
$debug-100: #000000;

$light-color-map: (
  // Main colors
  'primary': $primary-70,
  'primary-hover': $primary-80,
  'primary-pressed': $primary-90,
  'primary-active': $primary-80,
  'primary-background': $primary-10,
  'primary-hover-background': $primary-20,
  'primary-pressed-background': $primary-30,
  'primary-active-background': $primary-20,
  'content-primary': $secondary-90,
  'content-secondary': $secondary-70,
  'content-tertiary': $secondary-50,
  'content-quaternary': $secondary-40,
  'content-on-background-inverted': $neutral-0,
  'background': $secondary-5,
  'background-hover': $secondary-10,
  'background-inverted': $secondary-90,
  'border-primary': $secondary-5,
  'border-secondary': $secondary-10,
  'disabled': $secondary-5,
  'on-disabled': $secondary-40,
  // Utility colors
  'body': $neutral-0,
  'surface': $neutral-5,
  'surface-overlay': rgba($neutral-0, 0.7),
  'overlay': rgba($neutral-100, 0.45),
  'surface-variant': $secondary-90,
  'content-on-surface-variant': $neutral-5,
  // Status colors
  'success': $success-60,
  'success-background': $success-5,
  'success-background-hover': $success-10,
  'warning': $warning-30,
  'warning-background': $warning-5,
  'warning-background-hover': $warning-10,
  'error': $error-60,
  'error-background': $error-5,
  'error-background-hover': $error-10,
  'info': $info-60,
  'info-background': $info-5,
  'info-background-hover': $info-10,
  'debug': $debug-90,
  'debug-background': $debug-5,
  'debug-background-hover': $debug-10,
);

$dark-color-map: (
  // Main colors
  'primary': $primary-50,
  'primary-hover': $primary-60,
  'primary-pressed': $primary-70,
  'primary-focused': $primary-80,
  'primary-background': $primary-10,
  'primary-hover-background': $primary-20,
  'primary-pressed-background': $primary-30,
  'primary-focused-background': $primary-40,
  'content-primary': $neutral-0,
  'content-secondary': $neutral-20,
  'content-tertiary': $neutral-40,
  'content-quaternary': $neutral-50,
  'content-on-background-inverted': $neutral-80,
  'background': $neutral-80,
  'background-hover': $neutral-90,
  'background-inverted': $neutral-5,
  'border-primary': $neutral-100,
  'border-secondary': $neutral-70,
  'disabled': $neutral-80,
  'on-disabled': $neutral-50,
  // Utility colors
  'body': $neutral-90,
  'surface': $neutral-80,
  'surface-overlay': rgba($neutral-80, 0.7),
  'overlay': rgba($neutral-0, 0.45),
  'surface-variant': $neutral-90,
  'content-on-surface-variant': $neutral-0,
  // Status colors
  'success': $success-50,
  'success-background': $success-5,
  'success-background-hover': $success-10,
  'warning': $warning-30,
  'warning-background': $warning-5,
  'warning-background-hover': $warning-10,
  'error': $error-60,
  'error-background': $error-5,
  'error-background-hover': $error-10,
  'info': $info-60,
  'info-background': $info-5,
  'info-background-hover': $info-10,
  'debug': $debug-90,
  'debug-background': $debug-5,
  'debug-background-hover': $debug-10,
);

$light-shadow-map: (
  'row': 0px 0px 24px rgba(22, 29, 36, 0.12),
  'separator': 0px 1px 0px #FFFFFF,
  'input-1': 1px 1px 5px #FFFFFF,
  'input-2': inset -5px -5px 5px rgba(255, 255, 255, 0.5),
  'input-3': inset 1px 1px 10px rgba(0, 0, 0, 0.1),
  'input-active-1': 1px 1px 5px #FFFFFF,
  'input-active-2': inset -5px -5px 5px rgba(255, 255, 255, 0.5),
  'input-active-3': inset 3px 3px 10px rgba(0, 0, 0, 0.14),
  'large-input-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.08),
  'large-input-2': inset 1px -1px 0px rgba(255, 255, 255, 0.05),
  'large-input-active-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.12),
  'large-input-active-2': inset -1px -1px 0px rgba(0, 0, 0, 0.14),
  'block-1': -10px -10px 30px rgba(255, 255, 255, 0.9),
  'block-2': 20px 20px 60px rgba(0, 0, 0, 0.1),
  'block-3': inset 1px 1px 10px #FFFFFF,
  'lowered-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'lowered-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'lowered-3': inset 1px 1px 10px rgba(0, 0, 0, 0.2),
  'lowered-active-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'lowered-active-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'lowered-active-3': inset 1px 1px 12px rgba(0, 0, 0, 0.3),
  'elevated-1': -5px -5px 10px #FFFFFF,
  'elevated-2': 1px 1px 10px rgba(0, 0, 0, 0.1),
  'elevated-3': inset 1px 1px 2px rgba(255, 255, 255, 0.8),
  'elevated-active-1': -5px -5px 10px #FFFFFF,
  'elevated-active-2': 3px 4px 10px rgba(0, 0, 0, 0.15),
  'elevated-active-3': inset 1px 1px 2px rgba(255, 255, 255, 0.8),
  'notification-1': 8px 8px 20px rgba(0, 0, 0, 0.2),
  'notification-2': -8px -8px 20px rgba(0, 0, 0, 0.2),
);

$dark-shadow-map: (
  'row': 0px 0px 24px rgba(0, 0, 0, 0.4),
  'separator':  0px 1px 0px #222222,
  'input-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'input-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'input-3': inset 1px 1px 10px rgba(0, 0, 0, 0.8),
  'input-active-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'input-active-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'input-active-3': inset 3px 3px 10px rgba(0, 0, 0, 0.95),
  'large-input-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.4),
  'large-input-2': inset 1px -1px 0px rgba(0, 0, 0, 0.14),
  'large-input-active-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.6),
  'large-input-active-2': inset -1px -1px 0px rgba(255, 255, 255, 0.14),
  'block-1': -10px -10px 30px rgba(0, 0, 0, 0.16),
  'block-2': 20px 20px 60px rgba(0, 0, 0, 0.1),
  'block-3': inset 1px 1px 10px rgba(255, 255, 255, 0.04),
  'lowered-1': 1px 1px 5px rgba(0, 0, 0, 0.04),
  'lowered-2': inset -5px -5px 5px rgba(0, 0, 0, 0.03),
  'lowered-3': inset 1px 1px 10px rgba(0, 0, 0, 0.8),
  'lowered-active-1': 1px 1px 5px rgba(0, 0, 0, 0.04),
  'lowered-active-2': inset -5px -5px 5px rgba(0, 0, 0, 0.4),
  'lowered-active-3': inset 1px 1px 10px #000000,
  'elevated-1': -5px -5px 10px rgba(0, 0, 0, 0.75),
  'elevated-2': 1px 1px 10px rgba(255, 255, 255, 0.08),
  'elevated-3': inset 1px 1px 2px rgba(0, 0, 0, 0.04),
  'elevated-active-1': -5px -5px 10px #000000,
  'elevated-active-2': 3px 4px 10px rgba(255, 255, 255, 0.11), 
  'elevated-active-3': inset 1px 1px 2px rgba(0, 0, 0, 0.8),
  'notification-1': 8px 8px 20px rgba(255, 255, 255, 0.15),
  'notification-2': -8px -8px 20px rgba(255, 255, 255, 0.15),
);

@mixin make-theme($map, $prefix) {
  @each $key, $value in $map {
    $name: $prefix + $key;
    #{$name}: $value;
  }
}

$color-var-prefix: '--color_';
$shadow-var-prefix: '--shadow_';

@mixin light-theme {
  @include make-theme($light-color-map, $color-var-prefix);
  @include make-theme($light-shadow-map, $shadow-var-prefix);
}

@mixin dark-theme {
  @include make-theme($dark-color-map, $color-var-prefix);
  @include make-theme($dark-shadow-map, $shadow-var-prefix);
}

@function theme-color($name) {
  @if not map-has-key($map: $light-color-map, $key: $name) {
    @error "There is no such color in light theme: #{inspect($name)}";
  }

  @if not map-has-key($map: $dark-color-map, $key: $name) {
    @error "There is no such color in dark theme: #{inspect($name)}";
  }

  @return var(#{$color-var-prefix + $name});
}

@function theme-shadow($name) {
  @if not map-has-key($map: $light-shadow-map, $key: $name) {
    @error "There is no such shadow in light theme: #{inspect($name)}";
  }

  @if not map-has-key($map: $dark-shadow-map, $key: $name) {
    @error "There is no such shadow in dark theme: #{inspect($name)}";
  }

  @return var(#{$shadow-var-prefix + $name});
}