@use 'sass:map';

$neutral-0: #ffffff;
$neutral-5: #fcfcfc;
$neutral-10: #f9f9f9;
$neutral-20: #e9e9e9;
$neutral-30: #cfcfcf;
$neutral-40: #ababab;
$neutral-50: #808080;
$neutral-60: #565656;
$neutral-70: #313131;
$neutral-80: #171717;
$neutral-90: #070707;
$neutral-100: #000000;

$primary-0: #ffffff;
$primary-5: #fff6f6;
$primary-10: #ffeded;
$primary-20: #ffd4d4;
$primary-30: #ffb0b0;
$primary-40: #fa8181;
$primary-50: #eb4e4e;
$primary-60: #d72121;
$primary-70: #bb0000;
$primary-80: #810505;
$primary-90: #410707;
$primary-100: #000000;

$secondary-0: #ffffff;
$secondary-5: #f5f2f2;
$secondary-10: #e8e1e1;
$secondary-20: #d7cdcd;
$secondary-30: #c3b3b3;
$secondary-40: #aa9999;
$secondary-50: #9d8181;
$secondary-60: #8a6969;
$secondary-70: #704e4e;
$secondary-80: #4e3333;
$secondary-90: #281818;
$secondary-100: #000000;

$success-0: #ffffff;
$success-5: #d3f6ec;
$success-10: #aaecd9;
$success-20: #7fdec3;
$success-30: #57ccab;
$success-40: #33b590;
$success-50: #169974;
$success-60: #007755;
$success-70: #17614c;
$success-80: #20453a;
$success-90: #192320;
$success-100: #000000;

$warning-0: #ffffff;
$warning-5: #fff1d2;
$warning-10: #ffe2a4;
$warning-20: #ffbb44;
$warning-30: #ff9900;
$warning-40: #ec8a00;
$warning-50: #d57700;
$warning-60: #b66000;
$warning-70: #914600;
$warning-80: #652c00;
$warning-90: #331400;
$warning-100: #000000;

$error-0: #ffffff;
$error-5: #faf0ff;
$error-10: #f6e0ff;
$error-20: #eac8ff;
$error-30: #daaafd;
$error-40: #c686f3;
$error-50: #ad61e3;
$error-60: #923ecd;
$error-70: #7522b0;
$error-80: #570d8c;
$error-90: #341b47;
$error-100: #000000;

$info-0: #ffffff;
$info-5: #e6f3ff;
$info-10: #cde6ff;
$info-20: #98cafb;
$info-30: #69aef3;
$info-40: #4394e6;
$info-50: #267dd4;
$info-60: #1166bb;
$info-70: #054d94;
$info-80: #003367;
$info-90: #001a34;
$info-100: #000000;

$debug-0: #ffffff;
$debug-5: #fee2eb;
$debug-10: #fdc6d8;
$debug-20: #fa8eb2;
$debug-30: #f55d8f;
$debug-40: #ed3572;
$debug-50: #e4165b;
$debug-60: #d70148;
$debug-70: #c70042;
$debug-80: #b3003c;
$debug-90: #9e0035;
$debug-100: #000000;

$light-color-map: (
  // Main colors
  'primary': $primary-70,
  'primary-hover': $primary-80,
  'primary-pressed': $primary-90,
  'primary-active': $primary-80,
  'primary-background': $primary-10,
  'primary-hover-background': $primary-20,
  'primary-pressed-background': $primary-30,
  'primary-active-background': $primary-20,
  'content-primary': $secondary-90,
  'content-secondary': $secondary-70,
  'content-secondary-bright': $secondary-60,
  'content-tertiary': $secondary-50,
  'content-quaternary': $secondary-40,
  'content-on-background-inverted': $neutral-0,
  'background': $secondary-5,
  'background-hover': $secondary-10,
  'background-inverted': $secondary-90,
  'border-primary': $secondary-5,
  'border-secondary': $secondary-10,
  'disabled': $secondary-5,
  'on-disabled': $secondary-40,
  // Utility colors
  'body': $neutral-0,
  'surface': $neutral-5,
  'surface-overlay': rgba($neutral-0, 0.7),
  'overlay': rgba($neutral-100, 0.45),
  'surface-variant': $secondary-90,
  'content-on-surface-variant': $neutral-5,
  // Status colors
  'success': $success-60,
  'success-background': $success-5,
  'success-background-hover': $success-10,
  'warning': $warning-30,
  'warning-background': $warning-5,
  'warning-background-hover': $warning-10,
  // TODO: Research why error color differs from layouts
  //'error': #BB0000,
  'error': $error-60,
  'error-background': $error-5,
  'error-background-hover': $error-10,
  'info': $info-60,
  'info-background': $info-5,
  'info-background-hover': $info-10,
  'debug': $debug-90,
  'debug-background': $debug-5,
  'debug-background-hover': $debug-10
);

$dark-color-map: (
  // Main colors
  'primary': $primary-50,
  'primary-hover': $primary-60,
  'primary-pressed': $primary-70,
  'primary-focused': $primary-80,
  'primary-background': $primary-10,
  'primary-hover-background': $primary-20,
  'primary-pressed-background': $primary-30,
  'primary-focused-background': $primary-40,
  'content-primary': $neutral-0,
  'content-secondary': $neutral-20,
  'content-secondary-bright': $neutral-30,
  'content-tertiary': $neutral-40,
  'content-quaternary': $neutral-50,
  'content-on-background-inverted': $neutral-80,
  'background': $neutral-80,
  'background-hover': $neutral-90,
  'background-inverted': $neutral-5,
  'border-primary': $neutral-100,
  'border-secondary': $neutral-70,
  'disabled': $neutral-80,
  'on-disabled': $neutral-50,
  // Utility colors
  'body': $neutral-90,
  'surface': $neutral-80,
  'surface-overlay': rgba($neutral-80, 0.7),
  'overlay': rgba($neutral-0, 0.45),
  'surface-variant': $neutral-90,
  'content-on-surface-variant': $neutral-0,
  // Status colors
  'success': $success-50,
  'success-background': $success-5,
  'success-background-hover': $success-10,
  'warning': $warning-30,
  'warning-background': $warning-5,
  'warning-background-hover': $warning-10,
  // TODO: Research why error color differs from layouts
  //'error': #D72121,
  'error': $error-60,
  'error-background': $error-5,
  'error-background-hover': $error-10,
  'info': $info-60,
  'info-background': $info-5,
  'info-background-hover': $info-10,
  'debug': $debug-90,
  'debug-background': $debug-5,
  'debug-background-hover': $debug-10
);

$light-shadow-map: (
  'row': 0px 0px 24px rgba(22, 29, 36, 0.12),
  'separator': 0px 1px 0px #ffffff,
  'input-1': 1px 1px 5px #ffffff,
  'input-2': inset -5px -5px 5px rgba(255, 255, 255, 0.5),
  'input-3': inset 1px 1px 10px rgba(0, 0, 0, 0.1),
  'input-active-1': 1px 1px 5px #ffffff,
  'input-active-2': inset -5px -5px 5px rgba(255, 255, 255, 0.5),
  'input-active-3': inset 3px 3px 10px rgba(0, 0, 0, 0.14),
  'large-input-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.08),
  'large-input-2': inset 1px -1px 0px rgba(255, 255, 255, 0.05),
  'large-input-active-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.12),
  'large-input-active-2': inset -1px -1px 0px rgba(0, 0, 0, 0.14),
  'block-1': -10px -10px 30px rgba(255, 255, 255, 0.9),
  'block-2': 20px 20px 60px rgba(0, 0, 0, 0.1),
  'block-3': inset 1px 1px 10px #ffffff,
  'lowered-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'lowered-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'lowered-3': inset 1px 1px 10px rgba(0, 0, 0, 0.2),
  'lowered-active-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'lowered-active-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'lowered-active-3': inset 1px 1px 12px rgba(0, 0, 0, 0.3),
  'elevated-1': -5px -5px 10px #ffffff,
  'elevated-2': 1px 1px 10px rgba(0, 0, 0, 0.1),
  'elevated-3': inset 1px 1px 2px rgba(255, 255, 255, 0.8),
  'elevated-active-1': -5px -5px 10px #ffffff,
  'elevated-active-2': 3px 4px 10px rgba(0, 0, 0, 0.15),
  'elevated-active-3': inset 1px 1px 2px rgba(255, 255, 255, 0.8),
  'notification-1': 8px 8px 20px rgba(0, 0, 0, 0.2),
  'notification-2': -8px -8px 20px rgba(0, 0, 0, 0.2),
);

$dark-shadow-map: (
  'row': 0px 0px 24px rgba(0, 0, 0, 0.4),
  'separator': 0px 1px 0px #222222,
  'input-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'input-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'input-3': inset 1px 1px 10px rgba(0, 0, 0, 0.8),
  'input-active-1': 1px 1px 5px rgba(255, 255, 255, 0.04),
  'input-active-2': inset -5px -5px 5px rgba(255, 255, 255, 0.03),
  'input-active-3': inset 3px 3px 10px rgba(0, 0, 0, 0.95),
  'large-input-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.4),
  'large-input-2': inset 1px -1px 0px rgba(0, 0, 0, 0.14),
  'large-input-active-1': 0px 0px 56px 16px rgba(0, 0, 0, 0.6),
  'large-input-active-2': inset -1px -1px 0px rgba(255, 255, 255, 0.14),
  'block-1': -10px -10px 30px rgba(0, 0, 0, 0.16),
  'block-2': 20px 20px 60px rgba(0, 0, 0, 0.1),
  'block-3': inset 1px 1px 10px rgba(255, 255, 255, 0.04),
  'lowered-1': 1px 1px 5px rgba(0, 0, 0, 0.04),
  'lowered-2': inset -5px -5px 5px rgba(0, 0, 0, 0.03),
  'lowered-3': inset 1px 1px 10px rgba(0, 0, 0, 0.8),
  'lowered-active-1': 1px 1px 5px rgba(0, 0, 0, 0.04),
  'lowered-active-2': inset -5px -5px 5px rgba(0, 0, 0, 0.4),
  'lowered-active-3': inset 1px 1px 10px #000000,
  'elevated-1': -5px -5px 10px rgba(0, 0, 0, 0.75),
  'elevated-2': 1px 1px 10px rgba(255, 255, 255, 0.08),
  'elevated-3': inset 1px 1px 2px rgba(0, 0, 0, 0.04),
  'elevated-active-1': -5px -5px 10px #000000,
  'elevated-active-2': 3px 4px 10px rgba(255, 255, 255, 0.11),
  'elevated-active-3': inset 1px 1px 2px rgba(0, 0, 0, 0.8),
  'notification-1': 8px 8px 20px rgba(255, 255, 255, 0.15),
  'notification-2': -8px -8px 20px rgba(255, 255, 255, 0.15),
);

@mixin make-theme($map, $prefix) {
  @each $key, $value in $map {
    $name: $prefix + $key;
    #{$name}: $value;
  }
}

$color-var-prefix: '--color_';
$shadow-var-prefix: '--shadow_';

@mixin light-theme {
  @include make-theme($light-color-map, $color-var-prefix);
  @include make-theme($light-shadow-map, $shadow-var-prefix);
}

@mixin dark-theme {
  @include make-theme($dark-color-map, $color-var-prefix);
  @include make-theme($dark-shadow-map, $shadow-var-prefix);
}

@function theme-color($name) {
  @if not map.has-key($map: $light-color-map, $key: $name) {
    @error "There is no such color in light theme: #{inspect($name)}";
  }

  @if not map.has-key($map: $dark-color-map, $key: $name) {
    @error "There is no such color in dark theme: #{inspect($name)}";
  }

  @return var(#{$color-var-prefix + $name});
}

@function theme-shadow($name) {
  @if not map.has-key($map: $light-shadow-map, $key: $name) {
    @error "There is no such shadow in light theme: #{inspect($name)}";
  }

  @if not map.has-key($map: $dark-shadow-map, $key: $name) {
    @error "There is no such shadow in dark theme: #{inspect($name)}";
  }

  @return var(#{$shadow-var-prefix + $name});
}

@mixin shadow-row() {
  box-shadow: theme-shadow('row');
}

@mixin shadow-input() {
  box-shadow: theme-shadow('input-1'), theme-shadow('input-2'), theme-shadow('input-3');
}

@mixin shadow-input-active() {
  box-shadow: theme-shadow('input-active-1'), theme-shadow('input-active-2'), theme-shadow('input-active-3');
}

@mixin shadow-large-input() {
  box-shadow: theme-shadow('large-input-1'), theme-shadow('large-input-2');
}

@mixin shadow-large-input-active() {
  box-shadow: theme-shadow('large-input-active-1'), theme-shadow('large-input-active-2');
}

@mixin shadow-block() {
  box-shadow: theme-shadow('block-1'), theme-shadow('block-2'), theme-shadow('block-3');
}

@mixin shadow-inner-block() {
  box-shadow: theme-shadow('inner-block-1'), theme-shadow('inner-block-2'), theme-shadow('inner-block-3');
}

@mixin shadow-lowered() {
  box-shadow: theme-shadow('lowered-1'), theme-shadow('lowered-2'), theme-shadow('lowered-3');
}

@mixin shadow-lowered-active() {
  box-shadow: theme-shadow('lowered-active-1'), theme-shadow('lowered-active-2'), theme-shadow('lowered-active-3');
}

@mixin shadow-elevated() {
  box-shadow: theme-shadow('elevated-1'), theme-shadow('elevated-2'), theme-shadow('elevated-3');
}

@mixin shadow-elevated-active() {
  box-shadow: theme-shadow('elevated-active-1'), theme-shadow('elevated-active-2'), theme-shadow('elevated-active-3');
}

@mixin shadow-notification() {
  box-shadow: theme-shadow('notification-1'), theme-shadow('notification-2');
}
